- hosts: loadgen
  become: yes
  vars:
    frontend_addr: "{{ frontend_addr }}"
    users: "{{ users }}"
    rate: "{{ rate }}"
  
  tasks:
    - name: Install dependencies
      apt:
        name:
          - docker.io
          - git
        state: present
        update_cache: yes

    - name: Start Docker
      systemd:
        name: docker
        enabled: yes
        state: started

    - name: Clone repository
      git:
        repo: "https://github.com/viniciuslazzari/microservices-demo.git"
        dest: /home/ubuntu/microservices-demo
        version: main

    - name: Set permissions
      file:
        path: /home/ubuntu/microservices-demo
        owner: ubuntu
        group: ubuntu
        recurse: yes

    - name: Remove existing container
      community.docker.docker_container:
        name: locust
        state: absent
      ignore_errors: yes

    - name: Build Locust image
      community.docker.docker_image:
        name: locust-loadgen
        build:
          path: /home/ubuntu/microservices-demo/loadgenerator/locust
        source: build

    - name: Run Locust container
      community.docker.docker_container:
        name: locust
        image: locust-loadgen
        state: started
        restart_policy: unless-stopped
        env:
          FRONTEND_ADDR: "{{ frontend_addr }}"
          USERS: "{{ users }}"
          RATE: "{{ rate }}"
